<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<meta name="author" content="AJGH">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
		
		<!--[if lt IE 9]>
			<script type="text/javascript" >
				document.createElement("nav" );
				document.createElement("header");
				document.createElement("section");
				document.createElement("footer");
			</script>
		<![endif]-->
		
	
		<link rel="stylesheet" href="index_10_files/ysr.css">
	</head>
	<body>
		<div class="page">
			
			<section id="title"><h3>High School Reading</h3></section>
			<section id="content"><section>
			<h3>WASHOE AND THE PUZZLES</h3>
			<section><p>Washoe <span data-m="است">is</span> <span data-m="یک">a</span> <span data-m="میمون">monkey</span>. <span data-m="او">She</span> <span data-m="زندگی می‌کند">lives</span> <span data-m="در">in</span> <span data-m="یک">a</span> <span data-m="آزمایشگاه">lab</span>. The <span data-m="آزمایشگاه">lab</span> <span data-m="است">is</span> <span data-m="یک">a</span> <span data-m="مکان">place</span> <span data-m="که">where</span> <span data-m="مردها">men</span> <span data-m="و">and</span> <span data-m="زن‌ها">women</span> <span data-m="مطالعه می‌کنند">study</span> <span data-m="میمون‌ها">monkeys</span> <span data-m="و">and</span> <span data-m="حیوانات دیگر">other animals</span>. <span data-m="آنها">They</span> <span data-m="مطالعه می‌کنند">study</span> the <span data-m="حیوانات">animals</span> <span data-m="تا">to</span> <span data-m="دریابند، بفهمند">find out</span> <span data-m="چگونه">how</span> <span data-m="آنها">they</span> <span data-m="یاد می‌گیرند">learn</span>.</p>
<p><span data-m="یک">One</span> <span data-m="روز">day</span> <span data-m="یک">a</span> <span data-m="مرد">man</span> <span data-m="گذاشت">put</span> <span data-m="یک">a</span> <span data-m="معما، پازل">puzzle</span> <span data-m="در">in</span> <span data-m="قفس واشو">Washoe's cage</span>. Washoe <span data-m="مجبور بود">had to</span> <span data-m="قطعات پازل را جدا کند">take the puzzle apart</span>. <span data-m="هر">Each</span> <span data-m="دفعه">time</span> <span data-m="او">she</span> <span data-m="انجام می‌داد">did</span> <span data-m="آن‌را">it</span> <span data-m="به درستی">right</span>, the <span data-m="مرد">man</span> <span data-m="می‌داد">gave</span> <span data-m="به او">her</span> <span data-m="یک">a</span> <span data-m="تکه موز">slice of banana</span>. <span data-m="آن">That</span> <span data-m="بود">was</span> <span data-m="جایزه‌اش، پاداشش">her reward</span>.</p>
<p>Washoe <span data-m="نخورد">didn't eat</span> the <span data-m="تکه‌های موز">banana slices</span>. <span data-m="او">She</span> <span data-m="فقط">just</span> <span data-m="گذاشت">put</span> <span data-m="آنها را">them</span> <span data-m="آنجا">there</span>.</p>
<p>The <span data-m="مرد">man</span> <span data-m="کرد">made</span> the <span data-m="پازل">puzzle</span> <span data-m="سخت‌تر">harder</span>. <span data-m="اما">But</span> Washoe <span data-m="به زودی">soon</span> <span data-m="یادگرفت">learned</span> <span data-m="چگونه">how</span> <span data-m="قطعات آن را از هم جدا کند">to take it apart</span>.</p>
<p><span data-m="سپس">Then</span> the <span data-m="مرد">man</span> <span data-m="موزهایش تمام شد">ran out of bananas</span>. <span data-m="حالا چه؟">What now</span>? <span data-m="آیا او ادامه خواهد داد">Would she keep on</span> <span data-m="حل کردن پازل‌ها">doing puzzles</span> <span data-m="بدون">without</span> <span data-m="یک">a</span> <span data-m="پاداش، جایزه">reward</span>?</p>
<p>Washoe <span data-m="نگاه کرد">looked</span> <span data-m="به">at</span> <span data-m="او">him</span>. <span data-m="او">She</span> <span data-m="انتظار کشید">waited</span>. The <span data-m="مرد">man</span> <span data-m="داد">gave</span> <span data-m="به او">her</span> the <span data-m="پازل بعدی">next puzzle</span>. Washoe <span data-m="قطعات آن را از هم جدا کرد">took it apart</span>. <span data-m="سپس">Then</span> <span data-m="او">she</span> <span data-m="برداشت">picked up</span> <span data-m="یک">a</span> <span data-m="تکه موز">slice of banana</span>. <span data-m="او">She</span> <span data-m="گذاشت">put</span> <span data-m="آن را">it</span> <span data-m="بیرون">outside</span> the <span data-m="قفس">cage</span> <span data-m="برای">for</span> the <span data-m="مرد">man</span>!</p>
<p><span data-m="و">And</span> <span data-m="آن اینگونه ادامه پیدا کرد">so it went</span>. The <span data-m="مرد">man</span> <span data-m="می‌داد">would give</span> Washoe <span data-m="یک">a</span> <span data-m="پازل">puzzle</span>. <span data-m="و">And</span> <span data-m="او">she</span> <span data-m="پس می‌داد">would give back</span> <span data-m="یک">a</span> <span data-m="تکه موز">banana slice</span>. <span data-m="او">She</span> <span data-m="ادامه داد">kept on</span> <span data-m="تا اینکه">until</span> <span data-m="او">she</span> <span data-m="بازگردانده بود">had returned</span> <span data-m="همه موزها">all the bananas</span>.</p>
<p>Washoe <span data-m="یاد گرفت">learned</span> <span data-m="پازل‌های جدید زیادی">many new puzzles</span> <span data-m="آن روز">that day</span>. <span data-m="و">And</span> the <span data-m="مرد">man</span> <span data-m="یاد گرفت">learned</span> <span data-m="چیزی">something</span> <span data-m="همچنین">too</span>. <span data-m="او">He</span> <span data-m="یاد گرفت">learned</span> <span data-m="که">that</span> <span data-m="برخی از">some</span> <span data-m="میمون‌ها">monkeys</span> <span data-m="روی پازل‌ها کار نمی‌کنند">don't work puzzles</span> <span data-m="فقط">only</span> <span data-m="برای">to</span> <span data-m="گرفتن">get</span> <span data-m="غذا">food</span>. <span data-m="آنها">They</span> <span data-m="پازل‌ها را حل می‌کنند">do puzzles</span> <span data-m="برای سرگرمی">for the fun of it</span> – <span data-m="درست، دقیقاً">just</span> <span data-m="مانند">like</span> <span data-m="شما">you</span> <span data-m="و">and</span> <span data-m="من">me</span>!</p></section>
		</section></section>
		
		</div>
		
		<div style="height: 1px; margin-top: -1px;"></div>
		
		<!-- SPINNER -->
		<img id="spinner" style="display: none;" src="index_10_files/spinner.gif">
		
		<!-- MEANING HOLDER -->
		<div id="meaning"></div>
		
		<!-- ADD MEANING TO REPEAT LIST -->
	
		
		<!-- TEMPLATES -->
		<script id="topicTpl" type="text/template">
			<li><%= title %></li>
		</script>
		
		<script id="storyTpl" type="text/template">
			<h3><%= title %></h3>
			<section><%= content %></section>
		</script>
		
		
		<script src="index_10_files/jquery.js" type="text/javascript"></script>
		
		<script src="index_10_files/under_back.js" type="text/javascript"></script>
		<script src="index_10_files/ysr.js" type="text/javascript"></script>
		
		
	

</body></html>