<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<meta name="author" content="AJGH">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		

		<!--[if lt IE 9]>
			<script type="text/javascript" >
				document.createElement("nav" );
				document.createElement("header");
				document.createElement("section");
				document.createElement("footer");
			</script>
		<![endif]-->
		
		<link rel="stylesheet" href="ll1_files/ysr.css">
	</head>
	<body>
		<div class="page">
			
			<section id="title"><h3>Elementary Steps To Understanding</h3></section>
			<section id="content"><section>
			<h3>Lesson 1</h3>
			<section><p>Dave <span data-m="کار می‌کرد">worked</span> <span data-m="در">in</span> <span data-m="یک">a</span> <span data-m="کارخانه">factory</span>, <span data-m="و">and</span> <span data-m="او">he</span> <span data-m="همیشه">always</span> <span data-m="درست می‌کرد">made</span> <span data-m="ساندیچ">sandwiches</span> <span data-m="در صبح">in the morning</span>, <span data-m="می‌برد">took</span> <span data-m="آنها را">them</span> <span data-m="به">to</span> <span data-m="سر کار">work</span> <span data-m="و">and</span> <span data-m="می‌خورد">ate</span> <span data-m="آنها را">them</span> <span data-m="در">at</span> <span data-m="نیمروز">midday</span>.</p>
<p><span data-m="سپس">Then</span> <span data-m="او">he</span> <span data-m="ازدواج کرد">married</span>, <span data-m="بنابراین">so</span> <span data-m="او">he</span> <span data-m="فکر کرد">thought</span>, '<span data-m="حالا">Now</span> <span data-m="همسرم درست خواهد کرد">my wife's going to make</span> <span data-m="ساندیچ‌هایم">my sandwiches</span>.'</p>
<p><span data-m="در">On</span> the <span data-m="روز اول">first day</span>, <span data-m="او">she</span> <span data-m="درست کرد">made</span> <span data-m="برای او">him</span> <span data-m="یکی">some</span>, <span data-m="و">and</span> <span data-m="وقتی">when</span> <span data-m="او">he</span> <span data-m="آمد">got</span> <span data-m="به خانه">home</span> <span data-m="در عصر">in the evening</span>, <span data-m="او">she</span> <span data-m="گفت">said</span> <span data-m="به">to</span> <span data-m="او">him</span>. '<span data-m="آیا ساندویچ‌ها بودند">Were the sandwiches</span> <span data-m="خوب">all right</span>?'</p>
<p>'<span data-m="اوه">Oh</span>, <span data-m="بله">yes</span>,' <span data-m="او">he</span> <span data-m="جواب داد">answered</span>, '<span data-m="اما">but</span> <span data-m="تو">you</span> <span data-m="فقط">only</span> <span data-m="دادی">gave</span> <span data-m="به من">me</span> <span data-m="دو تکه نان">two slices of bread</span>.'</p>
<p>The <span data-m="روز بعد">next day</span> <span data-m="او">she</span> <span data-m="داد">gave</span> <span data-m="به او">him</span> <span data-m="چهار تکه">four slices</span>, <span data-m="اما">but</span> <span data-m="او">he</span> <span data-m="گفت">said</span> <span data-m="دوباره">again</span>, '<span data-m="چهار تکه">Four slices</span> <span data-m="نیستند">aren't</span> <span data-m="کافی">enough</span>.'</p>
<p>The <span data-m="روز سوم">third day</span> <span data-m="او">she</span> <span data-m="داد">gave</span> <span data-m="به او">him</span> <span data-m="هشت تکه">eight slices</span>, <span data-m="اما">but</span> <span data-m="آنها">those</span> <span data-m="نبودند">were not</span> <span data-m="کافی">enough</span> <span data-m="برای">for</span> <span data-m="او">him</span> <span data-m="همچنین">either</span>, <span data-m="بنابراین">so</span> <span data-m="در">on</span> the <span data-m="روز چهارم">fourth day</span> <span data-m="او">she</span> <span data-m="برداشت">took</span> <span data-m="یک قرص نان">a loaf of bread</span>, <span data-m="آن را به دو نیم کرد">cut it in half</span> <span data-m="و">and</span> <span data-m="گذاشت">put</span> <span data-m="یک">a</span> <span data-m="تکه گوشت بزرگ">big piece of meat</span> <span data-m="داخل">in</span> <span data-m="آن">it</span>.</p>
<p><span data-m="در عصر">In the evening</span> <span data-m="او">she</span> <span data-m="گفت">said</span> <span data-m="به">to</span> <span data-m="او">him</span>, '<span data-m="آیا ناهارت خوب بود؟">Was your lunch nice</span>?'</p>
<p>'<span data-m="اوه">Oh</span>, <span data-m="بله">yes</span>.' <span data-m="او">he</span> <span data-m="جواب داد">answered</span>. '<span data-m="اما">But</span> <span data-m="دو تکه نان">two slices of bread</span> <span data-m="نیستند">aren't</span> <span data-m="کافی">enough</span>.'</p></section>
		</section></section>
		
		</div>
		
		<div style="height: 1px; margin-top: -1px;"></div>
		
		<!-- SPINNER -->
		<img id="spinner" style="display: none;" src="ll1_files/spinner.gif">
		
		<!-- MEANING HOLDER -->
		<div id="meaning"></div>
		
		<!-- ADD MEANING TO REPEAT LIST -->
	
		
		<!-- TEMPLATES -->
		<script id="topicTpl" type="text/template">
			<li><%= title %></li>
		</script>
		
		<script id="storyTpl" type="text/template">
			<h3><%= title %></h3>
			<section><%= content %></section>
		</script>
		
		
		<script src="ll1_files/jquery.js" type="text/javascript"></script>
		
		<script src="ll1_files/under_back.js" type="text/javascript"></script>
		<script src="ll1_files/ysr.js" type="text/javascript"></script>
		
		
	

</body></html>