<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<meta name="author" content="AJGH">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
	
		<!--[if lt IE 9]>
			<script type="text/javascript" >
				document.createElement("nav" );
				document.createElement("header");
				document.createElement("section");
				document.createElement("footer");
			</script>
		<![endif]-->
		
		<link rel="stylesheet" href="ll25_files/ysr.css">
	</head>
	<body>
		<div class="page">
		
			<section id="title"><h3>Elementary Steps To Understanding</h3></section>
			<section id="content"><section>
			<h3>Lesson 25</h3>
			<section><p><span data-m="آقای">Mr</span> Johnson <span data-m="بود">was</span> <span data-m="یک">a</span> <span data-m="مرد پیر ثروتمند">rich old man</span>. <span data-m="او">He</span> <span data-m="رندگی می‌کرد">lived</span> <span data-m="در">in</span> <span data-m="یک">a</span> <span data-m="خانه زیبا">beautiful house</span> <span data-m="در">in</span> <span data-m="بیرون شهر">the country</span> <span data-m="با">with</span> <span data-m="خدمتکاران زیادی">lots of servants</span>, <span data-m="اما">but</span> <span data-m="زنش">his wife</span> <span data-m="مرده بود">was dead</span>, <span data-m="و">and</span> <span data-m="او">he</span> <span data-m="نداشت">did not have</span> <span data-m="هیچ بچه‌ای">any children</span>.</p>
<p><span data-m="سپس">Then</span> <span data-m="او">he</span> <span data-m="مُرد">died</span> <span data-m="ناگهان">suddenly</span>, <span data-m="و">and</span> <span data-m="مردم">people</span> <span data-m="گفتند">said</span>, '<span data-m="خدمتکارانش">His servants</span> <span data-m="کشتند">killed</span> <span data-m="او را">him</span>, <span data-m="چون">because</span> <span data-m="آنها">they</span> <span data-m="می‌خواستند">wanted</span> <span data-m="پولش">his money</span>.'</p>
<p><span data-m="اما">But</span> the <span data-m="خدمت‌کاران">servants</span> <span data-m="گفتند">said</span>. '<span data-m="نه">No</span>, <span data-m="او">he</span> <span data-m="کشت">killed</span> <span data-m="خودش را">himself</span>.'</p>
<p>The <span data-m="پلیس">police</span> <span data-m="آمد">came</span> <span data-m="و">and</span> <span data-m="پرسید">asked</span> the <span data-m="از خدمتکاران">servants</span> <span data-m="تعداد زیادی">a lot of</span> <span data-m="سوالات">questions</span>, <span data-m="و">and</span> <span data-m="بعد از">after</span> <span data-m="چند هفته">a few weeks</span>, <span data-m="بود">there was</span> <span data-m="یک">a</span> <span data-m="دادگاه بزرگ">big trial</span>. <span data-m="بودند">There were</span> <span data-m="دو وکیل مشهور">two famous lawyers</span> <span data-m="و">and</span> <span data-m="چندین">several</span> <span data-m="شاهد مهم">important witnesses</span>.</p>
<p>'<span data-m="بگو">Tell</span> <span data-m="به من">me</span>,' <span data-m="یکی از وکلا">one of the lawyers</span> <span data-m="گفت">said</span> <span data-m="به">to</span> <span data-m="یک">a</span> <span data-m="شاهد">witness</span> <span data-m="یک">one</span> <span data-m="روز">day</span>, '<span data-m="آیا آقای جانسون اغلب حرف می‌زد">did Mr Johnson often talk</span> <span data-m="با خودش">to himself</span> <span data-m="وقتی">when</span> <span data-m="او">he</span> <span data-m="بود">was</span> <span data-m="تنها">alone</span>?'</p>
<p>'<span data-m="من نمی‌دانم">I don't know</span>,' the <span data-m="شاهد">witness</span> <span data-m="جواب داد">answered</span> <span data-m="بی‌درنگ">at once</span>.</p>
<p>'<span data-m="شما نمی‌دانید">You don't know</span>?' the <span data-m="وکیل">lawyer</span> <span data-m="تکرار کرد">repeated</span> <span data-m="با عصبانیت">angrily</span>. '<span data-m="شما نمی‌دانید">You don't know</span>? <span data-m="اما">But</span> <span data-m="شما">you</span> <span data-m="بودید">were</span> <span data-m="بهترین دوستش">his best friend</span>, <span data-m="مگه نه">weren't you</span>? <span data-m="چرا شما نمی‌دانید؟">Why don't you know</span>?'</p>
<p>'<span data-m="چون">Because</span> <span data-m="من هرگز نبودم">I was never</span> <span data-m="با">with</span> <span data-m="او">him</span> <span data-m="وقتی">when</span> <span data-m="او">he</span> <span data-m="بود">was</span> <span data-m="تنها">alone</span>,' The <span data-m="شاهد">witness</span> <span data-m="جواب داد">answered</span>.</p></section>
		</section></section>
		
		</div>
		
		<div style="height: 1px; margin-top: -1px;"></div>
		
		<!-- SPINNER -->
		<img id="spinner" style="display: none;" src="ll25_files/spinner.gif">
		
		<!-- MEANING HOLDER -->
		<div id="meaning"></div>
		
		<!-- ADD MEANING TO REPEAT LIST -->
	
		
		<!-- TEMPLATES -->
		<script id="topicTpl" type="text/template">
			<li><%= title %></li>
		</script>
		
		<script id="storyTpl" type="text/template">
			<h3><%= title %></h3>
			<section><%= content %></section>
		</script>
		
		
		<script src="ll25_files/jquery.js" type="text/javascript"></script>
		
		<script src="ll25_files/under_back.js" type="text/javascript"></script>
		<script src="ll25_files/ysr.js" type="text/javascript"></script>
		
		
	

</body></html>