<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<meta name="author" content="AJGH">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		
		<!--[if lt IE 9]>
			<script type="text/javascript" >
				document.createElement("nav" );
				document.createElement("header");
				document.createElement("section");
				document.createElement("footer");
			</script>
		<![endif]-->
		
		<link rel="stylesheet" href="ll4_files/ysr.css">
	</head>
	<body>
		<div class="page">
		
			<section id="title"><h3>Elementary Steps To Understanding</h3></section>
			<section id="content"><section>
			<h3>Lesson 4</h3>
			<section><p><span data-m="دو سرباز">Two soldiers</span> <span data-m="بودند">were</span> <span data-m="در">in</span> <span data-m="اردوگاه">camp</span>. The <span data-m="اسم اولی">first one's name</span> <span data-m="بود">was</span> George, <span data-m="و">and</span> the <span data-m="اسم دومی">second one's name</span> <span data-m="بود">was</span> Bill. George <span data-m="گفت">said</span>, '<span data-m="آیا تو داری">Have you got</span> <span data-m="یک">a</span> <span data-m="تکه کاغذ">piece of paper</span> <span data-m="و">and</span> <span data-m="یک">an</span> <span data-m="پاکت نامه">envelope</span>, Bill?</p>
<p>Bill <span data-m="گفت">said</span>, '<span data-m="بله">Yes</span>, <span data-m="من">I</span> <span data-m="دارم">have</span>,' <span data-m="و">and</span> <span data-m="او">he</span> <span data-m="داد">gave</span> <span data-m="آنها را">them</span> <span data-m="به">to</span> <span data-m="او">him</span>.</p>
<p><span data-m="سپس">Then</span> George <span data-m="گفت">said</span>, '<span data-m="الآن">Now</span> <span data-m="من">I</span> <span data-m="ندارم">haven't got</span> <span data-m="یک">a</span> <span data-m="خودکار">pen</span>.' Bill <span data-m="داد">gave</span> <span data-m="به او">him</span> <span data-m="مال خودش">his</span>, <span data-m="و">and</span> George <span data-m="نوشت">wrote</span> <span data-m="نامه‌اش">his letter</span>. <span data-m="سپس">Then</span> <span data-m="او">he</span> <span data-m="گذاشت">put</span> <span data-m="آن را">it</span> <span data-m="در">in</span> the <span data-m="پاکت نامه">envelope</span> <span data-m="و">and</span> <span data-m="گفت">said</span>, '<span data-m="آیا تو داری">Have you got</span> <span data-m="یک">a</span> <span data-m="تمبر">stamp</span>. Bill?' Bill <span data-m="داد">gave</span> <span data-m="به او">him</span> <span data-m="یکی">one</span>.</p>
<p><span data-m="سپس">Then</span> Bill <span data-m="بلند شد">got up</span> <span data-m="و">and</span> <span data-m="رفت">went</span> <span data-m="به">to</span> the <span data-m="در">door</span>, <span data-m="بنابراین">so</span> George <span data-m="گفت">said</span> <span data-m="به">to</span> <span data-m="او">him</span>, '<span data-m="آیا داری میروی بیرون؟">Are you going out</span>?'</p>
<p>Bill <span data-m="گفت">said</span>, '<span data-m="بله">Yes</span>, <span data-m="(من دارم می‌روم بیرون)">I am</span>,' <span data-m="و">and</span> <span data-m="او">he</span> <span data-m="باز کرد">opened</span> the <span data-m="در">door</span>.</p>
<p>George <span data-m="گفت">said</span>, '<span data-m="لطفا">Please</span> <span data-m="بگذار">put</span> <span data-m="نامه من">my letter</span> <span data-m="در">in</span> the <span data-m="صندوق">box</span> <span data-m="در">in</span> the <span data-m="دفتر">office</span>, <span data-m="و">and</span> …' <span data-m="او">He</span> <span data-m="حرفش را قطع کرد">stopped</span>.</p>
<p>'<span data-m="چه می‌خواهی؟">What do you want</span> <span data-m="حالا">now</span>?' Bill <span data-m="گفت">said</span> <span data-m="به او">to him</span>.</p>
<p>George <span data-m="نگاه کرد">looked</span> <span data-m="به">at</span> the <span data-m="پاکت نامه‌اش">envelope of his letter</span> <span data-m="و">and</span> <span data-m="جواب داد">answered</span>. '<span data-m="آدرس دوست دختر تو چیست؟">What's your girl-friend's address</span>?'</p></section>
		</section></section>
		
		</div>
		
		<div style="height: 1px; margin-top: -1px;"></div>
		
		<!-- SPINNER -->
		<img id="spinner" style="display: none;" src="ll4_files/spinner.gif">
		
		<!-- MEANING HOLDER -->
		<div id="meaning"></div>
		
		<!-- ADD MEANING TO REPEAT LIST -->
	
		<!-- TEMPLATES -->
		<script id="topicTpl" type="text/template">
			<li><%= title %></li>
		</script>
		
		<script id="storyTpl" type="text/template">
			<h3><%= title %></h3>
			<section><%= content %></section>
		</script>
		
		
		<script src="ll4_files/jquery.js" type="text/javascript"></script>
		
		<script src="ll4_files/under_back.js" type="text/javascript"></script>
		<script src="ll4_files/ysr.js" type="text/javascript"></script>
		
		
	

</body></html>